body {
    nav{
        .burger-menu{
            padding-left: 10px;
        }
    }
}

.container, .monthly-summary{
    padding-top: 25px;
}

.monthly-summary{
    .item{
        font-size: 1.3em;
        color: white;
    }
}