<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/moveit.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <!-- start Mixpanel -->
        <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="js/mixpanel.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
        mixpanel.init("d483a1c5b31de18a13a7de3d10b99db4");</script>
        <!-- end Mixpanel -->
    </head>
    <body>
        <div class="test-mode hidden">
            <span>
                Test Mode Enabled
            </span>
        </div>
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse burger-menu"><i class="mdi-navigation-menu"><span>Leaderboard</span></i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="timeline.html">Timeline</a></li>
                    <li class="active"><a href="leaderboard.html">Leaderboard</a></li>
                    <li><a href="user_profile.html">Profile</a></li>
                    <li><a href="charity.html">Charity</a></li>
                    <li><a href="settings.html">Settings</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="timeline.html">Timeline</a></li>
                    <li class="active"><a href="leaderboard.html">Leaderboard</a></li>
                    <li><a href="user_profile.html">Profile</a></li>
                    <li><a href="charity.html">Charity</a></li>
                    <li><a href="settings.html">Settings</a></li>
                </ul>
                <a class="btn-floating btn-small waves-effect waves-light notifications-link" href="notifications.html">
                    <span class="notification-count"></span>
                </a>
            </div>
        </nav>
        <div class="top-bar row">
            <div class="top-bar-container">
                <span class="logo col s2">
                    <img src="img/logo.png" />
                </span>
                <span class="date-and-total col s10">
                    <a class='dropdown-button btn-flat date-dropdown' href='#' data-activates='months-dropdown'>
                        <span class="date"></span>
                        <i class="arrow-down"></i>
                    </a>
                    <ul id='months-dropdown' class='dropdown-content'>
                        <li><a data-month="prev1" href="#!">Previuos 1</a></li>
                        <li><a data-month="prev2" href="#!">Previuos 2</a></li>
                        <li class="divider"></li>
                        <li><a data-month="current"  href="#!">Current</a></li>
                    </ul>
                    <div class="total-amount">
                        <span>&#8377;</span><span class="value"></span>
                        <span class="goal-section">
                            / <span>&#8377;</span><span class ="goal"></span>
                        </span>
                    </div>
                </span>
            </div>
        </div>
        <div class="container leaderboard">
            <div class="row">
                <div class="loading-throbber col s12 center">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="collection">

                </ul>
            </div>
            <div id="leader-board-modal" class="modal">
            </div>
        </div>
        <div class="bottom-spacing">
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light add-entry-btn"><i class="mdi-content-add"></i></a>
        </div>
        <script type="text/template" id="modal-template">
            <div class="modal-content no-padding">
                <div class="modal-header valign-wrapper">
                    <h5 class="valign center-align">Congratulations!</h5>
                </div>
                <p class="amount center-align grey-text text-darken-2">
                    &#8377;<span class="value"></span>
                    <span class="grey-text text-lighten-1 help-text"> contributed</span>
                </p>
            </div>
            <div class="row modal-button">
                <button class="btn btn-primary save-btn col s12 modal-action modal-close">I Feel Gooood!</button>
            </div>
        </script>
        <script type="text/template" id="user-details-template">
            <div class="drag-items">
                <li class="collection-item row hidden interaction-message bumping">
                    <span>Bumping <%= title_text %></span>
                </li>
                <li class="collection-item row hidden interaction-message nudgeing">
                    <span>Nudging <%= title_text %></span>
                </li>
                <li class="collection-item avatar row <%= css_class %> draggable-section indicator <%= activity_status %>" data-email="<%= email %>" data-name="<%= title_text %>" data-action="<%= action %>">
                    <img src="img/<%= action %>_arrow.png" class="action <%= action %>">
                    <a href="user_profile.html?email=<%= email %>">
                        <span class=" col s3"><img src="<%= gravatar %>" alt="" class="circle profile-pic"></span>
                        <span class="item-content">
                            <span class="count s2 col">#<%= index %></span>
                            <span class="title col s6"> <%= title_text %> </span>
                            <span class="col s4 amount-section">
                                <div class="amount right-align">
                                    <span class="symbol">&#8377;</span><%= amount %>
                                </div>
                                <div class="duration right-align">
                                    <%= duration %>mins
                                </div>
                            </span>
                        </span>
                    </a>
                </li>
            </div>
        </script>

        <!-- Google Analytics -->
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','js/analytics.js','ga');

         ga('create', 'UA-5073218-11', 'auto');
         ga('send', 'pageview');

        </script>
        <!-- End Google Analytics -->

        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/jquery-count-to.js"></script>
        <script src="js/jquery-url-params.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/underscore.min.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="js/globalize.min.js"></script>
        <script src="js/globalize.culture.as-IN.min.js"></script>
        <script src="js/hammer.min.js"></script>
        <script src="js/jquery.hammer.js"></script>
        <script src="js/moveit.js"></script>
        <script src="js/settings.js"></script>

        <script  type="text/javascript">
         $(document).on("resume", onResume, false);

         function onResume(){
             location.reload();
         }

         function enableTestMode(){
             var settings = JSON.parse(localStorage.getItem("settings")) || {};
             if(settings.mode === "test"){
                 $(".test-mode").removeClass("hidden");
             }
         };

         function showModalFor(user, lastContribution) {
             var modalTemplate = $("#modal-template").html();
             var template = _.template(modalTemplate);
             $("#leader-board-modal").html(template({amount: user.amount}));
             $("#leader-board-modal").openModal();
             $("#leader-board-modal .value").countTo({
                 to: lastContribution
             });
         }

         function fillUserDetails(data){
             var title_text = '';
             var css_class = '';
             var activity  = "";
             _.each(data, function(userDetails, index){
                 if(userDetails.email === localStorage["userEmail"]){
                     title_text = 'YOU';
                     css_class = 'highlight';
                     if(localStorage['lastContribution']){
                         showModalFor(userDetails, localStorage['lastContribution']);
                         localStorage.removeItem('lastContribution');
                     }
                 } else {
                     title_text = userDetails.name;
                     css_class = '';
                 }

                 var userTemplate = $("#user-details-template").html();
                 window.userRankingIndex += 1;
                 var templateData = {
                     "css_class": css_class,
                     "action": userDetails.interactable,
                     "activity_status": userDetails.activity_status + '-user',
                     "index": window.userRankingIndex,
                     "gravatar" : userDetails.gravatar,
                     "title_text" : title_text,
                     "amount": Globalize.format(userDetails.amount),
                     "duration": userDetails.duration,
                     "email": userDetails.email
                 };
                 $(".user_name").text(userDetails.name);
                 var processedTemplate = _.template(userTemplate);
                 $('.leaderboard > .row > .collection').append(processedTemplate(templateData));
             });
         }

         $(function() {
             $(".button-collapse").sideNav();
             $(".loading-throbber").show();

             if(_.isEmpty(localStorage['userEmail'])){
                 window.location = "login.html"
             }
             mixpanel.identify(localStorage['userEmail']);

             setupMonthDropdown("leaderboard.html");
             var requestMonth = $.urlParam("month"); 
             if(requestMonth == null){
               requestMonth = moment().endOf('month').format('MMMM YYYY'); 
             }
             $(".date").text(requestMonth);
             currentUser = localStorage.getItem("userEmail");
             var requestData = {
                 month: requestMonth,
                 email: currentUser
             };
             $.ajax({
                 dataType: 'json',
                 url: settings.getSetting("apiUrl") + 'leaderboard.json',
                 type: 'GET',
                 data: requestData,
                 success: function(data, textStatus, jqXHR) {
                     window.userRankingIndex = 0;
                     fillUserDetails(data.leaderboard.with_entries);
                     fillUserDetails(data.leaderboard.without_entries);
                     $(".loading-throbber").hide();
                     $('.total-amount > .value').html(Globalize.format(data.monthly_total_amount));
                     $('.goal-section > .goal').text(Globalize.format(data.monthly_goal));
                     bindSwipe();
                 },
                 error: function() {
                     $(".loading-throbber").hide();
                     alert('Oops! Something Went Wrong. Failed to fetch leaderboard data');
                 },
                 timeout: 300000
             });

             enableTestMode();
             setUnreadNotificationStatus();
         });

         function bindSwipe(){

             var from_user_email = localStorage.getItem("userEmail");
             $('.draggable-section').not(".not_so_active-user").hammer().bind('swiperight', function(el){
                 var to_user_email = $(this).data("email");
                 var action = $(this).data("action");
                 var name = $(this).data("name");
                 mixpanel.track("User Action", {
                    "from": localStorage['userEmail'],
                    "to": to_user_email,
                    "action": action
                 });
                 UserInteraction.action(from_user_email, to_user_email, $(this), action, name);
             })
         }
        </script>
    </body>
</html>
