<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/moveit.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>
    <body>
        <div class="test-mode hidden">
            <span>
                Test Mode Enabled
            </span>
        </div>
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse burger-menu"><i class="mdi-navigation-menu"><span>Monthly Summary</span></i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="timeline.html">Timeline</a></li>
                    <li><a href="index.html">Add Entry</a></li>
                    <li class="monthly-summary-link"><a href="user_profile.html">Monthly Summary</a></li>
                    <li class="leaderboard-link"><a href="leaderboard.html">Leaderboard</a></li>
                    <li><a href="settings.html">Settings</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="timeline.html">Timeline</a></li>
                    <li><a href="index.html">Add Entry</a></li>
                    <li class="monthly-summary-link"><a href="user_profile.html">Monthly Summary</a></li>
                    <li class="leaderboard-link"><a href="leaderboard.html">Leaderboard</a></li>
                    <li><a href="settings.html">Settings</a></li>
                </ul>
                <a class="notifications-link" href="notifications.html">
                    <img class="notification-icon" src="img/line-bell.png"/>
                    <span class="notification-count"></span>
                </a>
            </div>
        </nav>
        <script type="text/html" id="user-profile-template">
            <div class="foreground hero valign-wrapper">
                <div class="valign">
                    <img class="profile-pic" src= "<%= profile_img_url %>" >
                    <div class="name center-align">
                        <span><%= name %></span>
                    </div>
                    <p class="profile-email center-align"><%= email %></p>
                </div>
            </div>
            <div class="contributions">
                <div class="amount attribute">
                    <div class="large-text">
                        <span></span>
                        <span><%= amount %></span>
                    </div>
                    <div class="description">
                        <span>points</span>
                    </div>
                </div>
                <div class="minutes attribute">
                    <div class="large-text">
                        <span><%= time %> min</span>
                    </div>
                    <div class="description">
                        <span>worked out</span>
                    </div>
                </div>
            </div>
        </script>
        <div class="user-profile">
            <div class="row user-details">
                <div class="hero-container" id="hero-container">
                </div>
            </div>
            <div class="row user-reports">
                <div class="loading-throbber col s12 center">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>

                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/underscore.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="js/globalize.min.js"></script>
        <script src="js/moveit.js"></script>
        <script src="js/globalize.culture.as-IN.min.js"></script>
        <script src="js/settings.js"></script>
        <!-- Google Analytics -->
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-5073218-11', 'auto');
         ga('send', 'pageview');

        </script>
        <!-- End Google Analytics -->

        <script>
         $(document).on("resume", onResume, false);

         function onResume(){
             location.reload();
         }
         
         function appendUserActivity(monthly_summary){      
             _.each(monthly_summary, function(entry){
                 entryHTML = '<div class="col s12 m12 item"><div class="card-panel white center-align row "> <span class="date col s4 m4">'+ moment(entry.date).format("MMMM D") + '</span> <span class="duration col s4 m4">' + entry.duration + ' min</span> <span class="amount col s4 m4"> ' + entry.amount_contributed + ' pts</span> </div> </div>'
                 $('.user-reports.row').append(entryHTML);
                 window.totalContributionAmount += entry.amount_contributed;
                 window.totalWorkoutDuration += entry.duration;
             });
         };

         function appendUserProfile(userDetails){
             var profileTemplate = $("#user-profile-template").html();
             var templateData = {
                 "profile_img_url" : userDetails.gravatar_url,
                 "name" : userDetails.name,
                 "email" : userDetails.email,
                 "amount": window.totalContributionAmount,
                 "time": window.totalWorkoutDuration
             };
             $(".user_name").text(userDetails.name);
             var processedTemplate = _.template(profileTemplate)
             $("#hero-container").html(processedTemplate(templateData));
         }
         
         $(function(){
             window.totalContributionAmount = 0;
             window.totalWorkoutDuration = 0;
             $(".button-collapse").sideNav();
             var userEmail = getParameterByName("email", location);
             if(userEmail.length == 0){
                userEmail = localStorage["userEmail"];
                $("li.monthly-summary-link").addClass("active");
             }
             
             $.ajax({
                 dataType: 'json',
                 url: settings.getSetting("apiUrl") + 'monthly_summary.json',
                 type: 'GET',
                 data: {email: userEmail},
                 success: function(data, textStatus, jqXHR) {
                     $(".loading-throbber").hide();
                     appendUserActivity(data.user.monthly_summary);
                     appendUserProfile(data.user);
                 },
                 error: function() {
                     alert('Opps Something Went Wrong!');
                 },
                 timeout: 100000
             });
             setUnreadNotificationStatus();
         });
        </script>
    </body>
</html>
